<div class="container" data-controller="feed-photo">
  <%= simple_form_for @new_feed do |f| %>
  <div class="nels"></div>
    <%= f.input :content, placeholder: 'No que você está pensando?', label: false %>
      <div class="btn-img d-flex">
        <%= f.input :photo, label: false, as: :file, input_html: { id: "upload_pic", class: "input-photo d-none" } %>
        <label class="icon_chat" for="upload_pic"><i class="fa-solid fa-image"></i></label>
      </div>
    <%= f.button :submit, "Enviar" %>
  <% end %>

  <div class="feed">
    <% @feed.each do |feed| %>
    <h2><%= feed.user.name %></h2>
      <h4><%= feed.content %></h4>
    <% end %>
  </div>
</div>
