<script src="https://sdk.mercadopago.com/js/v2"></script>
<div class="container chatroom-container">
  <div class="message-container"
    data-controller="chatroom-subscription"
    data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">
    <div class="messages" data-chatroom-subscription-target="messages">
      <div class="sm_user_info">
        <% if current_user == @chatroom.grandparent %>
          <div class="user_img_sm">
            <%= cl_image_tag @chatroom.grandchild.photo.key if @chatroom.grandchild && @chatroom.grandchild.photo.attached? %>
            <p><%= @chatroom.grandchild.name.capitalize if @chatroom.grandchild %></p>
          </div>
      <% elsif current_user == @chatroom.grandchild %>
          <div class="user_img">
            <%= cl_image_tag @chatroom.grandparent.photo.key ? @chatroom.grandparent.photo.key : ""  %>
            <%= @chatroom.grandparent.name.capitalize %>
          </div>
      <% end %>
      </div>
      <% if @chatroom.messages.length < 1 %>
        <div class="no-message-container">
          <p class="no-message">Aguarde seu netinho por gentileza...</p>
        </div>
      <% else %>
        <% @chatroom.messages.select {|message| message.content.length > 0 || message.photos.length > 0}.each do |message| %>
         <%= render "messages/message", message: message %>
        <% end %>
      <% end %>
    </div>
    <div class="form_message" data-controller="message-photo">
      <%= simple_form_for [@chatroom, @message],
        html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f|
      %>
      <% if @chatroom.close == false %>
          <%= f.input :content,
            label: false,
            placeholder: "Digite sua mensagem aqui",
            wrapper_html: {class: "flex-grow-1", id:"form_chat"}
          %>
          <div class="nels"></div>
          <div class="d-flex">
          <div class="send_btn">
            <%# <%= f.submit "Send", class: "btn btn-primary mb-3" %>
            <%= button_tag(type: 'submit', class: "btn mb-3 send") do %>
              <i class="fa-solid fa-paper-plane"></i>
            <% end %>
          </div>
          <div class="btn-img">
            <%= f.input :photos, label: false,id:"upload_pic" ,as: :file, input_html: { multiple: true, class: "input-photo d-none" } %>
            <label class="icon_chat" for="message_photos"><i class="fa-solid fa-image"></i></label>
          </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <% if @chatroom.close == false %>
    <div class="col-lg-4 col-md-6 col-sm-10 grandchild-container">
      <div class="user-container">
          <% if current_user == @chatroom.grandparent %>
            <div class="user_img">
              <%= cl_image_tag @chatroom.grandchild.photo.key if @chatroom.grandchild && @chatroom.grandchild.photo.attached? %>
            </div>
            <div class="user_name">
              <h3><%= @chatroom.grandchild ? @chatroom.grandchild.name.capitalize : "Aguarde alguns instantes, seu neto está a caminho..." %></h3>
            </div>
            <div class="description">
            <h3>Sobre seu Netinho(a):</h3>
              <h4><%= @chatroom.grandchild.description if @chatroom.grandchild %></h4>
            </div>
          <% elsif current_user == @chatroom.grandchild %>
            <div class="user_img">
              <%= cl_image_tag @chatroom.grandparent.photo.key %>
            </div>
            <div class="user_name">
              <h3><%= @chatroom.grandparent.name.capitalize %></h3>
            </div>
            <div class="description">
              <h3>Sobre seu Avo/Avó:</h3>
              <h4><%= @chatroom.grandparent.description %></h4>
            </div>
          <% end %>
            <% if @chatroom.grandchild_id == 0 %>
              <%= link_to close_chat_path(chatroom: @chatroom.id), class:"btn-cancel-chat" do %>
                <p>Cancelar</p>
                <i class="fa-solid fa-xmark"></i>
              <% end %>
            <% end %>
            <% if @chatroom.grandparent == current_user && @chatroom.close == false && !@chatroom.grandchild == false%>
              <button class="btn-close-chat" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <p>Encerrar chamado</p>
                <i class="fa-regular fa-thumbs-up"></i>
              </button>
            <% end %>
      </div>
    </div>
  <% end %>
  </div>
</div>
<div id="cho-container"></div>
<script>
  let mp = new MercadoPago('TEST-5f718ae1-20e0-4b20-8492-862bf131f7ac', {
    locale: 'pt-BR'
  });

  mp.checkout({
    preference: {
      id: @preference_id
    },
    render: {
      container: '#cho-container',
      label: 'Pagar',
    }
  });
</script>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Oba! Deu tudo certo?</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex justify-content-center">
        <a id="btn_pay" href="<%= @topay %>">Seguir para pagamento</a>
      </div>
      <div class="modal-footer">
        <p type="button" id="btn_back" data-bs-dismiss="modal">Voltar ao chamado</p>
      </div>
    </div>
  </div>
</div>
