<div class="container">
  <div class="row">
    <div class="col-6" >
      <div class="message_container"
      data-controller="chatroom-subscription"
      data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
      >
        <div class="messages" data-chatroom-subscription-target="messages">
          <% if @chatroom.messages.length < 1 %>
            <div class="message">
              <p>Nada de mensagens</p>
            </div>
          <% else %>
            <% @chatroom.messages.each do |message| %>
             <%= render "messages/message", message: message %>
            <% end %>
          <% end %>
        </div>
        <div class="form_message">
          <%= simple_form_for [@chatroom, @message],
            html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f|
          %>
            <%= f.input :content,
              label: false,
              placeholder: "Message",
              wrapper_html: {class: "flex-grow-1"}
            %>
            <%= f.submit "Send", class: "btn btn-primary mb-3" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-6"></div>
  </div>
</div>
